# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
*.env
*.secrets

# Ignore virtual environments
venv/
env/

# Ignore Docker-related files
.dockerignore
Dockerfile*
docker-compose.yml

# Ignore logs and temporary files
logs/
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore Git-related files
.git/
.gitignore